@page "/demoproduct"
<h3 class="text-primary fw-bold">Demo Product</h3>

<div class="border p-2 mt-2" style="background-color:azure">
	<div class="row">
		@foreach(var prod in Products)
		{
			<div class="bg-light border m-2 col-5">
				<h4 class="text-primary">Product - @prod.Id</h4>
				Name - @prod.Name<br />
				Show Properties: <input class="" type="checkbox" @bind-value="prod.IsActive" checked="@(prod.IsActive?"checked":null)"/>

				@if (prod.IsActive)
				{
					@foreach(var propProp in prod.ProductProperties)
					{
						<p>@propProp.Key - @propProp.Value</p>
					}
				}<br />
				<input type="button" class="btn btn-danger" style="width-100px" value="Delete"/>
				<input type="button" class="btn btn-success" style="width-100px" value="  Edit  "/>
			</div>
		}
	</div>
</div>


@code {
	List<Demo_Product> Products = new();
	protected override void OnInitialized()
	{
		Products.Add(new()
			{
				Id = 1,
				Name = "Blessed Juice Ltd",
				IsActive = false,
				Price = 33.33,
				ProductProperties = new()
			{
				new Demo_ProductProp{Id = 1, Key = "Flavor", Value = "Mango"},
				new Demo_ProductProp{Id = 2, Key = "Size", Value = "50cl"},
				new Demo_ProductProp{Id = 3, Key = "Color", Value = "Juice"}
			}
			});


		Products.Add(new()
			{
				Id = 2,
				Name = "Covenant Drinks",
				IsActive = false,
				Price = 56.88,
				ProductProperties = new()
			{
				new Demo_ProductProp{Id = 1, Key = "Flavor", Value = "Chocolate"},
				new Demo_ProductProp{Id = 2, Key = "Size", Value = "45cl"},
				new Demo_ProductProp{Id = 3, Key = "Color", Value = "White"}
			}
			});
	}
}
